
body:not(.home) .site-main {
	@include container( $size-post-width );
	padding: 0 20px;
}

.entry-title {
	margin-top: 0;
	color: $fuchsia;
	font-weight: 900;
}

.entry-content {
	.contact-form label {
		margin-bottom: 5px;

		span {
			color: $fuchsia;
		}
	}
}

@import 'content/home';
