$size-main-width: 1290px;
$size-post-width: 870px;

$bkpt-phone: 400px;
$bkpt-tablet: 782px;

$font-body: "proxima-nova",sans-serif;
$font-header: "freight-sans-condensed-pro",sans-serif;

$dark-blue: #1d215f;
$teal: #38ccd5;
$tiffany-blue: #89dfee;
$fuchsia: #a00a74;
$tangerine: #ff9700;
$white: #ffffff;

$ugly-yellow: #c6dc00;
$ugly-yellow-40: rgba(198, 220, 0, 0.4);
$ugly-yellow-10: rgba(198, 220, 0, 0.1);

$color-text: $dark-blue;
