#footer-widget-1 {
	background: $dark-blue;
	margin: 120px 0 60px;
	padding: 120px 0;

	.widget-title {
		margin-top: 0;
		color: white;
		@include font-size( $font-size-level-2 );
		text-align: center;
	}

	.widget {
		@include container( $size-post-width );
	}

	form {
		display: grid;
		grid-template-columns: 1fr 200px;

		p {
			margin-bottom: 0;
		}
	}

	#subscribe-text {
		grid-column: 1 / span 2;
	}

	input[type="submit"] {
		width: 100%;
		height: 100%;
	}
}
